/* html {
  background-image: url('portrait_selected-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
} */
.abc {
  position: relative;
}
.def {
  position: absolute;
  top: 30px;
  right: 20px;
  max-width: 300px;
}